extends layout

block content
  .container(style='color:white;')
    .row
      .col-md-12
          a(href=url)
            h3=url
          br
    .row
      #items.col-md-5
        div(role='tabpanel')
          ul.nav.nav-tabs(role='tablist')
            li.active(role='presentation')
              a(href='#node', aria-controls='node', role='tab', data-toggle='tab') Node.js
            li(role='presentation')
              a(href='#python', aria-controls='python', role='tab', data-toggle='tab') Python
            li(role='presentation')
              a(href='#ruby', aria-controls='ruby', role='tab', data-toggle='tab') Ruby
            li(role='presentation')
              a(href='#php', aria-controls='php', role='tab', data-toggle='tab') PHP
            li(role='presentation')
              a(href='#java', aria-controls='php', role='tab', data-toggle='tab') Java
            li(role='presentation')
              a(href='#swift', aria-controls='php', role='tab', data-toggle='tab') Swift
          .tab-content
            #python.tab-pane(role='tabpanel')
              pre
                code(class="language-python")
                  | #Python 3
                  | import urllib2
                  | urllib2.urlopen("#{url}").read()

              pre
                code(class="language-python")
                  | #Python 2
                  | import urllib.request
                  | urllib.request.urlopen("#{url}").read()

            #node.tab-pane.active(role='tabpanel')
              pre
                code(class="language-javascript")
                  | var request = require('request');
                  | request('#{url}', function (error, response, body) {
                  |  if (!error && response.statusCode == 200) {
                  |    console.log(body)
                  |  }
                  | })
            #ruby.tab-pane(role='tabpanel')
              pre
                code(class="language-ruby")
                  | require 'net/http'
                  | uri = URI('#{url}')
                  | Net::HTTP.get(uri)

            #php.tab-pane(role='tabpanel')
              pre
                code(class="language-php")
                  |$response = http_get("#{url}", array("timeout"=>1), $info);
                  |print_r($info);
                  
            #java.tab-pane(role='tabpanel') 
              pre
                code(class="language-java")
                  |urlString = "#{url}";
                  |URL url = new URL(urlString);
                  |URLConnection conn = url.openConnection();
                  |InputStream is = conn.getInputStream() 
            #swift.tab-pane(role='tabpanel') 
              pre
                code(class="language-swift")
                  | let url = NSURL(string: "#{url}")
                  | let task = NSURLSession.sharedSession().dataTaskWithURL(url!) 
                  |{
                  |(data, response, error) in println(NSString(data: data, encoding: NSUTF8StringEncoding))
                  | }
                  | task.resume()

      #jsonstuff.col-md-6
        #json_result.hidden #{result}
        #json(style='overflow-x: hidden;')