extends layout

block content
  .container(style='color:white;')
    .row
      .col-md-6
        h3 Api result page
        h3 url: #{url}
    .row
      .col-md-6
        div(role='tabpanel')
          ul.nav.nav-tabs(role='tablist')
            li.active(role='presentation')
              a(href='#python', aria-controls='python', role='tab', data-toggle='tab') Python
            li(role='presentation')
              a(href='#node', aria-controls='node', role='tab', data-toggle='tab') Node.js
            li(role='presentation')
              a(href='#ruby', aria-controls='ruby', role='tab', data-toggle='tab') Ruby
            li(role='presentation')
              a(href='#php', aria-controls='php', role='tab', data-toggle='tab') PHP
          .tab-content
            #python.tab-pane.active(role='tabpanel')
              h3 Python
              pre
                code(class="language-python")
                  | import urllib.request
                  | urllib.request.urlopen("#{url}").read()

            #node.tab-pane(role='tabpanel') 
             h3 Node
              pre
                code(class="language-node")
                  | import urllib.request
                  | urllib.request.urlopen("#{url}").read()

            #ruby.tab-pane(role='tabpanel') 
             h3 Ruby
              pre
                code(class="language-ruby")
                  | import urllib.request
                  | urllib.request.urlopen("#{url}").read()
            #php.tab-pane(role='tabpanel') 
             h3 PHP
              pre
                code(class="language-php")
                  | import urllib.request
                  | urllib.request.urlopen("#{url}").read()

      .col-md-6